/* This website has no colors set,
   because colors should be consistently either set or unset.

   I haven't thought about whether to change the fonts at all. */

 body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
 }

 .container {
   max-width: 32rem;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-left: auto;
   margin-right: auto;
 }

/* Big text for big windows */
@media (min-width: 513px) {
  html { font-size: 125%; }
  small, footer { font-size: 0.8em; }
}

/*Less whitespace for tiny windows*/
@media (max-width: 320px) {
  .container { padding: 0 0.5rem; }
  h1, h2, h3, h4, h5, h6, p, ul { margin: 0.75rem 0; }
  p { margin: 0.5rem 0; }
  ul { padding-left: 1em; }
}

 h1, h2, h3, h4, h5, h6 {
   line-height: 1.2;
 }

/* Footer uses `opacity: 0.5` instead of a color setting
   to be compatible with all user-set color choices.
   Link colors are unset to maintain footer blandness. */
 footer {
   opacity: 0.5;
   font-size: 0.875em;
   text-align: center;
   margin-bottom: 2rem;
 }
 footer a {
   color: unset;
 }

 form {
   margin: 1rem auto;
 }
 form label {
   display: block;
   margin: 1rem 0;
 }
 form small {
   display: block;
   font-size: 0.875em;
 }
 form label textarea {
   display: block;
   width: 100%;
 }
