<style>

/* This website has no colors set.
   It used to have links and footer set,
   but colors should be consistently either set or unset.

   I haven't thought about whether to change the fonts at all. */

 body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
 }

 .container {
   max-width: 40rem;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-left: auto;
   margin-right: auto;
 }

 h1, h2, h3, h4, h5, h6 {
   line-height: 1.2;
 }

/* Footer uses `opacity: 0.5` instead of a color setting
   to be compatible with all user-set color choices.
   Link colors are unset to maintain footer blandness. */
 footer {
   opacity: 0.5;
   font-size: 0.8em;
   text-align: center;
   margin-bottom: 2rem;
 }
 footer a {
   color: unset;
 }

/* Generic form styling.
   It should perhaps be modified once the final form is created. */
 form {
   margin: 1rem auto;
 }
 form label {
   display: block;
   margin: 1rem 0;
 }
 form label small {
   display: block;
   font-size: 0.8em;
 }
 form label textarea {
   display: block;
   width: 100%;
 }

</style>
